/*
  Animating github icon
---------------------------*/
.git svg {
  fill: #64CEAA;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  width: 80px;
  height: 80px;
}

.git .octo-arm {
  transform-origin: 130px 106px;
}

.git .octo-arm,
.git .octo-body {
  fill: #fff;
}

.git:hover .octo-arm {
  animation: octocatWave 560ms ease-in-out;
}

span.error {
  color: red;
}

.container {
  z-index: 1;
  display: none;
  transition: 0.3s all ease-in-out;
  transform: translateY(100%);
}

.choose-social {
  height: 100%;
  width: 100%;
  z-index: 2;
  background: #fff;
  transition: 0.3s all ease-in-out;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apps-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  margin: 0 auto;
  transform: translateY(200px);
  animation: slideCheckbox 1s ease-in-out forwards;
}

.apps-wrapper label {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin: 10px 0;
  cursor: pointer;
  line-height: 16px;
}

.apps-wrapper label input {
  align-self: flex-end;
}
.apps-wrapper .button {
  margin-top: 20px;
}

.question {
  animation: slideHeading 1s ease-in-out forwards;
}

textarea {
  resize: both;
  min-height: 900px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.valid {
   transform: translateY(-100%);
}

.visible-container {
   transform: translateY(0%);
   display: block;
}



/*
  Animations
---------------------------*/
@keyframes octocatWave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@keyframes slideHeading {
  0% {
    transform: translateY(0px);
    font-size: 45px;
  }
  100% {
    transform: translateY(-20px);
    font-size: 30px;
  }
}

@keyframes slideCheckbox {
  0%,
  75% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
